button {
  font-size: 16px;
  background-color: dodgerblue;
  color: white;
  border-radius: 4px;
}

td {
  height: 42px;
}

td[rowspan="2"] {
  height: 84px;
}

input {
  font-size: 16px;
  background-color: lightgray;
  border: inset;
  padding: 8px;
  text-align: right;
}